.khan__link {
  position: absolute;
  text-decoration: none;
  color: #2f80ed;
  margin-top: 0;
  margin-left: 20px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__link:hover {
  opacity: 0.3;
  transition: 0.3s linear;
}
